@font-face {
    font-family: 'Agrandir';
    src: url('https://cdn.glitch.global/3ec046e6-daca-4629-8edf-a932ffba4b90/Agrandir-GrandHeavy.otf?v=1699608616183') format('opentype');
}

@font-face {
    font-family: 'Agrandirru';
    src: url('https://cdn.glitch.global/3ec046e6-daca-4629-8edf-a932ffba4b90/Agrandir-Narrow.otf?v=1699610365324') format('opentype');
}

@font-face {
    font-family: 'Arixsub';
    src: url('https://cdn.glitch.global/3ec046e6-daca-4629-8edf-a932ffba4b90/ofont.ru_PF%20Baseline%20Pro.ttf?v=1699961020540') format('opentype');
}

body {
    background: #f5eff8;
    color: #020202;
    background-image: url(https://cdn.glitch.global/3ec046e6-daca-4629-8edf-a932ffba4b90/bg.jpeg?v=1699607934600);
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #e1e6ff;
  border-radius: 10px;
}

.height-format {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transition: 0.1s;
}

.title {
  font-size: -webkit-xxx-large;
  font-weight: 900;
  font-family: 'Agrandir', sans-serif;
  overflow: hidden;
}

.height-format {
  background-color: transparent;
  position: relative;
  z-index: 10;
}

.height-format.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff96;
  backdrop-filter: blur(40px);
  z-index: 10;
}

.height-format.fixed .title {
  font-size: 32px;
  font-weight: 900;
  font-family: 'Agrandir', sans-serif;
  overflow: hidden;
}

.card-group {
  display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    background: rgb(109 87 255 / 7%) 0%;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-content {
  flex: 1;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    font-family: 'Agrandir', sans-serif;
}

.card p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card button {
    background: #2100ff03 0%;
    border: 1px solid #2100ff14;
    border-radius: 4px;
    width: 100%;
    backdrop-filter: blur(10px);
    font-size: 17px;
    color: #4733c9;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
}

.card button:hover,
focus {
    background: #2100ff1c 0%;
    border: 1px solid #2100ff2e;
  color: #4a3ab7;
  cursor: pointer;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    font-family: 'Arixsub', sans-serif;
}

.card-projects {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
}

.card-three {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.opensource {
    display: flex;
    justify-content: center;
    color: #0000007d;
    text-decoration: none;
    animation: moveY infinite 10s alternate;
    font-size: 18px;
    transition: 1s;
    align-items: center;
    gap: 5px;
}
.opensource:hover,focus {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 18px;
    align-items: center;
    gap: 5px;
}

@keyframes moveY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px); /* Замените на нужное значение смещения по оси Y */
  }
}

.staff-name {
    background: linear-gradient(270deg, #0002ff, #75a7e308);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    text-align: center;
}

::selection {
    color: #5e416d;
    background: #3e214d1a;
    text-shadow: none;
}

@media (max-width: 768px) {
  .card-group {
    display: block;
  }
.card {
    display: flex;
    flex-direction: column;
    background: rgb(109 87 255 / 7%) 0%;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: -webkit-fill-available;
}
  .height-format.fixed .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #020202;
    font-size: 24px;
    margin: 0 auto;
    font-weight: 900;
    font-family: 'Agrandir', sans-serif;
    overflow: hidden;
}
  .card-three {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: inherit;
    width: -webkit-fill-available;
  }
  .height-format {
    display: block;
    margin-block-start: 20px;
    overflow: hidden;
    text-align: -webkit-center;
  }
.title {
    font-size: 26px;
    text-align: center;
    margin: inherit;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: clip;
}
  .height-format.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background-color: #00000021;
    backdrop-filter: blur(50px);
    margin: 0;
    color: #ffffff;
    transition: 0.1s;
  }
}
